@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
